@page "/Projects/{projectid?}/Tickets"
@model Tracker.Pages.Tickets.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<div>
	<p>
		<a asp-page="/Projects/Project" asp-route-id="@Model.Ticket[0].ProjectId" class="btn btn-primary">Return to Project</a> |
		<a asp-page="./Create" asp-route-projectid="@Model.Ticket[0].ProjectId" class="btn btn-primary">New Ticket</a>
	</p>
</div>

<component type="typeof(TicketList)" render-mode="Server" param-Tickets="@Model.Ticket" />