@page "/Projects/{projectid?}/Tickets"
@model Tracker.Pages.Tickets.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<div style="display: flex; margin-bottom: 12px;">
	<a asp-page="/Projects/Project" asp-route-id="@Model.ProjectId" class="btn btn-outline-primary"> Return to Project</a> 
	<a asp-page="./Create" asp-route-projectid="@Model.ProjectId" class="btn btn-primary" style="margin-left: auto;">New Ticket +</a>
</div>

<component type="typeof(TicketList)" render-mode="Server" param-Tickets="@Model.TicketDto" />